.App {
  min-height: 100vh;
  background-color: goldenrod;
}

.cocktail figcaption {
  height: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cocktail-list {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
